server:
  port: 8084
  servlet:
    context-path: /api

spring:
  application:
    name: kos-integration
  datasource:
    url: jdbc:postgresql://localhost:5432/kos_db
    username: oss_user
    password: oss_pass
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: kos-groupe
